@use '../tools' as *;

.blog-open{
    &__banner{
        --bgImg: url('../../assets/images/banner.jpg');

        display: flex;
        align-items: end;
        text-align: center;
        background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 0.88) 75.52%, #141414 100%), var(--bgImg) center/cover no-repeat;
        min-height: fluid(600, 281);
        padding-block: fluid(65, 17);

        @include mobile{
            --bgImg: url('../../assets/images/banner-mobile.jpg');
        }
    }

    &__title{
        font-size: fluid(64, 28);
        font-family: var(--font-base);
        font-weight: 600;
    }

    &__similar{
        display: grid;

        @include mobile-above{
            row-gap: fluid(60, 40);
        }
    }

    &__body{
        
        @include laptop{
            --maxHeight: #{rem(692)};
        }

        @include mobile{
            --maxHeight: #{rem(669)};
        }

        border-block: var(--border);

        h2, h3, h4, h5, h6{
            &:not(:first-child){
                margin-top: 1.5em;
            }

            &:not(:last-child){
                margin-bottom: 1em;
            }
        }
    }

    &__inner{
        display: grid;
        grid-template-columns: 62% auto;  

        @include tablet{
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &__content{
        @include tablet-above{
            border-right: var(--border);
        }
    }

    &__intro,
    &__main,
    &__actions,
    &__post-info{
        padding: fluid(80, 40) rem(80);

        @include laptop{
            padding-inline: rem(60);
        }

        @include tablet{
            padding-inline: 0;
        }
    }

    &__intro,
    &__actions,
    &__post-info{
        @include tablet{
            @include full-vw-centered(bottom);
        }
    }

    &__intro,
    &__actions{
        @include tablet-above{
            border-bottom: var(--border);
        }
    }

    &__actions{
        padding-block: fluid(50, 20);

        @include tablet{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}