@use '../tools' as *;

.bordered-grid{
    --cols: 1;
    --paddingY: #{fluid(80, 40)};

    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);

    &--2cols{

        @include mobile-above{
            --cols: 2;

            .bordered-grid__item{
                // отступы для нечетных колонок
                &:nth-child(odd){
                    @include mobile-above{
                        padding-right: fluid(80, 40);
                    }

                    border-right: var(--border);
                }
    
                // отступы для четных колонок
                &:nth-child(even){
                    padding-left: fluid(80, 40);

                    @include full-vw-centered(bottom, auto, 100%, 50%);
                }
            }
        }
    }

    &--3cols{

        @include tablet-above{
            --cols: 3;

            column-gap: calc(fluid(50, 40) * 2);

            .bordered-grid__item{
                // отступы для 1 и 2 колонок
                &:nth-child(3n - 2),
                &:nth-child(3n - 1){
                    position: relative;

                    &::after{
                        position: absolute;
                        content: '';
                        top: 0;
                        left: calc(100% + fluid(50, 40));
                        width: rem(1);
                        height: 100%;
                        background-color: var(--dark-color-15);
                    }
                }
    
                // горизонтальные разделители по низам для элементов 2 колонки т.к. она центр
                &:nth-child(3n - 1){
                    @include full-vw-centered();
                }
            }
        }
    }

    @include tablet{

        .bordered-grid__item{
            &:not(:last-child){
                border-bottom: var(--border);
            }
        }
    }

    &__item{
        padding-block: var(--paddingY);
    }
}