@use '../tools' as *;

.card{
    @include tablet-above{
        display: grid;
        grid-template-columns: 37.5% auto; // ширина блока(блок + column gap)/ширина контейнера * 100; 599/1600 * 100
    }

    &__preview,
    &__body{
        padding: rem(80);

        @include laptop{
            padding: rem(60);
        }
    }

    &__preview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        row-gap: fluid(60, 20);

        @include tablet-above{
            border-right: var(--border);
        }

        @include tablet{
            padding-right: 0;
            padding-block: rem(50);
            border-bottom: var(--border);
        }
        
        &-main{
            display: grid;
            row-gap: fluid(50, 20);

            @include tablet{
                justify-content: start;
            }
        }

        &-icon{
            width: fluid(80, 50);
        }

        &-info{
            display: grid;
            row-gap: fluid(16, 6);

            &:has(.card__rating){
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 1rem;
            }
        }
    }

    &__body{
        padding-right: 0;

        @include tablet{
            padding: rem(30) 0;
        }
    }

    &__grid{
        display: grid;
        
        &--2col{
            grid-template-columns: repeat(2, 1fr);
            gap: fluid(30,10);

            @include mobile{
                grid-template-columns: 1fr;
                row-gap: rem(10);
            }

            &-alt{
                row-gap: fluid(30, 24);

                @include tablet-above{
                    column-gap: fluid(20, 16);
                }

                @include mobile-above{
                    grid-template-columns: auto 1fr;
                }
            }
        }

        &--3col{
            grid-template-columns: repeat(3, 1fr);
            gap: fluid(50, 20) fluid(20, 16);

            @include mobile{
                column-gap: 0;
            }
        }

        &--3col-alt{
            gap: fluid(50, 20) fluid(20, 16);

            @include tablet-above{
                grid-template-columns: repeat(3,1fr);
            }

            @include mobile{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    &__cell{
        display: flex;
        flex-direction: column;
        justify-content: start;
        row-gap: fluid(20, 4);

        &:has(.card__cell-link){
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
            grid-template-areas: 
                "data link"
                "data link";
            gap: fluid(14, 10) rem(20);
        }

        &:has(> *:only-child){ // только те cell у которых один единственный дочерний элемент
            justify-content: center;
        }

        &:not(.cell){
            @include mobile{
                grid-template: initial; // сброс сетки к первоначальным значениям

                .card__cell-link{
                    grid-area: initial;
                }
            }
        }

        &.cell{
            padding: rem(20);
        }

        &--wide{
            grid-column: -1 / 1;
        }

        &--wide-on-mobile{
            @include mobile{
                grid-column: -1 / 1;
            }
        }

        &__img{
            width: 100%;
            height: fluid(332, 169);
            object-fit: cover;
            border-radius: rem(12);

            @include laptop{
                border-radius: rem(10);
            }
        }

        &-subtitle{ // сброс класса для сохранения семантики
            font: inherit;
            color: inherit;
        }

        &-description{
            font-size: rem(14);
        }

        &-link{
            grid-area: link;
        }
    }
}