@use '../tools' as *;  

.icon{
    display: inline-flex;
    align-items: center;  // центрирование элементов в контейнере по вертикали, иконки и текста
    column-gap: rem(14); // оказывается это работает даже если элемент прописан через ::after

    &::after{ // общие стили для всех иконок
        --size: #{rem(17)};

        @include square(var(--size));

        content: '';
        flex-shrink: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &--yellow-arrow{ // модификатор конкретной иконки
        &::after{
            background-image: url('../../assets/icons/arrow-up-right--yellow.svg');

            @include laptop{
                --size: #{rem(14)};
            }
        }
    }

    &--yellow-eye{
        &::after{
            --size: #{rem(24)};
            
            background-image: url('../../assets/icons/yellow-eye.svg');

            @include laptop{
                --size: #{rem(20)};
            }
        }
    }

    &--arrow-gray-down{
        &::after{
            --size: #{rem(24)};
            
            background-image: url('../../assets/icons/arrow-down-gray.svg');

            @include laptop{
                --size: #{rem(20)};
            }
        }
    }
}