@use '../tools' as *;

.person-card{
    --size: #{rem(80)};

    display: flex;
    align-items: center;
    column-gap: fluid(16, 8);

    &__info{
        display: grid;
        
        @include laptop-above{
            row-gap: rem(2);
        }
    }

    &__name{
        font-size: rem(20);
        color: var(--light-color);
        font-weight: 600;

        @include laptop{
            font-size: rem(18);
        }
    }

    &__img{
        border-radius: 50%;
        background-color: var(--dark-color-15);
        width: var(--size);

        @include laptop{
            --size: #{rem(60)};
        }
    }
}