@use '../tools' as *;

.post-info{
    &__list{
        display: flex; // потому что grid растянет на всю ширину а оно не нужно тут
        align-items: center;
        justify-content: start;
        column-gap: fluid(50, 20);
    }

    &__value{
        color: var(--light-color);
        font-size: fluid(18, 14);
    }

    &--2cols{
        .post-info__list{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: rem(30) rem(20);

            @include laptop{
                gap: rem(20);
            }
        }

        .post-info__item--wide{
            row-gap: fluid(16, 10);
            grid-column: -1 / 1;
        }
    }
}