@use '../tools' as *;


.tabs{
    &__header{
        padding-block: fluid(50, 20);
        border-bottom: var(--border);

        @include tablet{
            overflow-x: auto;
        }
    }

    &__btns{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: fluid(20, 14);

        &--heading{
            display: inline-flex;
            padding: rem(10);
            column-gap: rem(10);
            background-color: var(--dark-color);
            border-radius: rem(12);
            border: var(--border);

            .tabs__btn{
                padding: fluid(18, 14) fluid(38, 13);
            }
        }

        @include tablet{
            width: max-content; // содержимое списка не будет уменшаться, а будет увеличивать область скролла что в данном случае ок
        }
    }

    &__btn{
        @include reset-btn;

        padding: fluid(30, 18) rem(10);
        border: var(--border);
        color: var(--gray-color-60);
        border-radius: rem(8);
        font-size: rem(18);

        @include laptop{
            font-size: rem(14);
        }

        &.is-active{
            background-color: var(--dark-color-19);
            color: var(--light-color);
            font-weight: 500;
            pointer-events: none;
        }

        @include hover{
            color: var(--accent-color);
            border-color: var(--accent-color);
        }
    }

    &__tab{ // если у раздела нет активного класса, то его не будет видно
        &:not(.is-active){
            display: none;
        }
    }
}